<%= link_to 'Back', session[:return_to] , :class=>'btn btn-default' %>
<h1>Log In</h1>
<% flash.each do |key, value| %>
<div class="flash <%= key %>"><%= value %></div>
<% end %>
<div class="container">
  <div class="row col-md-3">
    <%= form_tag sessions_path do %>
    <div class="form-group">
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email], class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :password %><br />
      <%= password_field_tag :password,nil , class: "form-control" %>
    </div>
    <%= hidden_field_tag :referer, (params[:referer] || request.env['HTTP_REFERER']) %>
    <div class="actions"><%= submit_tag "Log In", :class=>'btn btn-default pull-right' %></div>
    <% end %>
  </div>
</div>
