<p id="notice"><%= notice %></p>
  <%#= link_to 'New category', categories_path(store_id: @store.id), method: :post, :class=>'btn btn-default' %>
  <div class="container">
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">
          <strong>Store:</strong>
          <%= @store.name %>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <div class="pull-left col-md-4 col-xs-12 thumb-image">
            <p><%= image_tag(@store.image.url, alt: 'Image', :class =>'center-block img-responsive') if @store.image? %></p>
          </div>
        </div>
    <tr class="container-fluid">
        <td><%= link_to 'Edit', edit_store_path(@store), :class=>'btn btn-default' %></td>
        <td><%= link_to 'Delete', store_path(@store), :class=>'btn btn-danger pull-right', method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </div><!-- /panel-body -->
</div><!-- /panel panel-default -->
<td><%= link_to 'Back', stores_path , :class=>'btn btn-default' %></td>
<!-- /col-sm-5 -->

<div>
<h3>Categoryes</h3>
    <% @store.categories.each do |category| %>
        <div class="container">
          <div class="col-sm-5">
              <div class="panel panel-default">
              <div class="panel-heading">
            <strong><%= link_to category.name, category%></strong>

              </div>
              <div class="panel-body">
                <div class="col-md-12">
                <div class="pull-left col-md-4 col-xs-12 thumb-image">
                    <p><%= image_tag(category.image.url, alt: 'Image', :class =>'center-block img-responsive') if category.image? %></p>
                </div>
            </div>
            <tr class="container-fluid">
            <td><%= link_to 'Edit', edit_category_path(category),  :class=>'btn btn-default'  %></td>
            <td><%= link_to 'Delete', category_path(category),  :class=>'btn btn-danger pull-right', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>

          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
    </div><!-- /col-sm-5 -->
  </div>
    <% end %>

    <%= render 'categories/form' %>

</div>
</div>
</div>
