<% elements.each do |itm | %>
<% if itm.email != current_user.email %>
<div class="row container-fluid">
  <div class="col-sm-12">
    <div class="card card-default">
      <div class="card-heading">
        <strong><%= link_to itm.nickname, itm %></strong> </br>
        <%= content_tag(:strong, "Nickname: ") + itm.nickname + tag(:br) if itm.nickname? %>
        <%= content_tag(:strong, "Full Name: ") + itm.full_name + tag(:br) if !itm.full_name.blank? %>
        <%= content_tag(:strong, "email: ") + itm.email + tag(:br) if itm.email? %>
        <%= content_tag(:strong, "Age: ") + itm.age.to_s + tag(:br) if itm.birth_date? %>
        <%= content_tag(:strong, "Gender: ") + itm.gender + tag(:br) if itm.gender? %>
        <%= content_tag(:strong, "Phone Number: ") + itm.phone_number + tag(:br) if itm.phone_number? %>
        <%= content_tag(:strong, "Country: ") + itm.country + tag(:br) if itm.country? %>
        <%= content_tag(:strong, "City: ") + itm.city + tag(:br) if itm.city? %>

      </div>
      <div class="card-body">
        <div class="col-md-4">
          <div class="float-left col-sm-12">
            <p><%= image_tag(itm.avatar.url, alt: 'Image', :class =>'img-tumbnail img-fluid') if itm.avatar? %></p>
          </div>
        </div>
      </div><!-- /card-body -->
    </div><!-- /card card-default -->
  </div><!-- /col-sm-5 -->
</div>
<% end %>
<%end%>
