<div class="container-fluid">
<%= form_with model: @category, local: true do |form| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel-heading">

  <h3> Cteate Category </h3>
  <div class="input-block-level">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
</div>
<div class="panel-body">
  <div class="input-block-level">
    <%= form.label :image %>
    <%= form.file_field :image %>

    <%= form.hidden_field :store_id %>
  </div>
</div>
  <div class="action">
    <%= form.submit %>
  </div>
  </div>
<% end %>
</div>
