
<p id="notice"><%= notice %></p>

  <div class="container">
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">
          <strong>Suppliers:</strong>
          <%= @supplier.name %>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <div class="pull-left col-md-4 col-xs-12 thumb-image">
            <p><%= image_tag(@supplier.image.url, alt: 'Image', :class =>'center-block img-responsive') if @supplier.image? %></p>
          </div>
        </div>

</p>

<tr class="container-fluid">
        <td><%= link_to 'Edit', edit_supplier_path(@supplier), :class=>'btn btn-default' %></td>
        <td><%= link_to 'Delete', supplier_path(@supplier), :class=>'btn btn-danger pull-right', method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
    </div><!-- /panel-body -->
  </div><!-- /panel panel-default -->
  <td><%= link_to 'Back', product_path(@supplier.product.id) , :class=>'btn btn-default' %></td>

<div>
<h3>Vendors</h3>
    <% @supplier.vendors.each do |vendor| %>
          <div class="container">
          <div class="col-sm-5">
              <div class="panel panel-default">
              <div class="panel-heading">
            <strong><%= link_to vendor.name, vendor%></strong>

              </div>
              <div class="panel-body">
                <div class="col-md-12">
                  <div class="pull-left col-md-4 col-xs-12 thumb-image">
                      <p><%= image_tag(vendor.image.url, alt: 'Image', :class =>'center-block img-responsive') if vendor.image? %></p>
                  </div>
            </div>
            <tr class="container-fluid">
                <td><%= link_to 'Edit', edit_vendor_path(vendor), :class=>'btn btn-default' %></td>
                <td><%= link_to 'Delete', supplier_path(vendor), :class=>'btn btn-danger pull-right', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>

          </div><!-- /panel-body -->
          </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->
        </div>
    <% end %>

<%= render 'vendors/form' %>
</div>
</div>
</div>
