<!DOCTYPE html>
<html>
  <head>
    <title>Hw7</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <header class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-end">
      <%= link_to "Home", root_url, :class=>'navbar-brand' %>
      <div class="collapse navbar-collapse ml-auto flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
          <% if current_user %>
          <p class="navbar-nav navbar-text"> Logged in as <strong><%= current_user.nickname %></strong>. </p>

          <li class="nav-item active">   <%= link_to 'Edit profile', edit_user_path(current_user.id), :class => 'nav-link' %>  </li>
          <li class="nav-item active">   <%= link_to "Logout", logout_path, :class => 'nav-link'  %> </li>
          <% else %>
          <li class="nav-item active">   <%= link_to "Sign up", signup_path, :class => 'nav-link'  %>  </li>
          <li class="nav-item active">   <%= link_to "Login", login_path, :class => 'nav-link'  %> </li>
          <% end %>
        </ul>
      </div>
    </nav>


  </header>

  <body>
    <% if notice %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>

</html>
